<h1>Riserve</h1>
<p>insights made simple</p>
<br>
<%= form_tag root_path, :method => 'POST' do %>
<%= text_field_tag 'ticker', nil, placeholder: "Enter Symbol", size: 50 %>
<%= submit_tag 'Submit ' %>
<% end %>
<br>

<%= @stock %>